.search {
  width: 500px;
  height: 100px;
  margin: auto;}

.search-container {
  width: 500px;
  height: 100px;
  margin: auto;
}

.googlesearch {
  height: 50px;
}

.___gcse_0{
  height: 50px;
}

.gsc-control-cse{
  background-color: transparent !important;
  border-color: transparent !important;
}

.gsc-control-wrapper-cse{
  background-color: transparent !important;
  border-color: transparent !important;
}

.gsc-search-box{
  background-color: transparent !important;
  border-color: transparent !important;
} 
.gsc-search-box-tools{
  background-color: transparent !important;
  border-color: transparent !important;
}

/* .table{
  background-color: transparent !important;
  border-color: transparent !important;
}

.tbody{
  background-color: transparent !important;
  border-color: transparent !important;
}

.tr{
  background-color: transparent !important;
  border-color: transparent !important;
} */

.gsc-input{
  /* background-color: transparent !important; */
  border-color: transparent !important;
}
.gsc-input-box{
  background-color: transparent !important;
  border-color: transparent !important;
}

/* .gs_tti50 .gsib_a{
  background-color: transparent !important;
  border-color: transparent !important;
} */

.gsib_b{
  background-color: transparent !important;
  border-color: transparent !important;
}

.gsc-search-button{
  /* background-color: transparent !important; */
  border-color: transparent !important;
}

/* .gsc-search-button .gsc-search-button-v2{
  background-color: transparent !important;
  border-color: transparent !important;
} */
