.logo .logo-svg-netdata {
    fill: var(--light-color);
}

body.dark-theme .logo .logo-svg-netdata {
    fill: var(--dark-color);
}

/* header.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
} */

header.header {
    background: url(img/blog-header-bg.png);
    background-position: center center;
    background-size: cover;
}

header.hero-overlay {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 400px;
    z-index: 999;
    background: url(img/blog-header-bg.png);
    background-position: center center;
    background-size: cover;
}

header.hero {
    height: 400px;
}

.header__inner {
    justify-content: center;
    /* height: 40vh; */
}

.post {
    border-bottom: none !important;
}

.pagination__title hr {
    display: none;
}

.footer__inner {
    justify-content: center !important;
}

.post-title {
    font-size: 2rem;
}

.post-content img {
    display: block;
    margin: 0 auto 2rem;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.post-content figure {
    margin-bottom: 2rem;
}

.post-content figure img {
    margin: 0 auto;
}

/*  Fix to show badges embedded into the middle of a paragraph display as 
    inline instead of on their own line */
.post-content p img[src*="shields.io"] {
    position: relative;
    display: inline-block;
    top: 4px;
    margin: 0;
    box-shadow: none;
}

.post-cta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.post-cta button {
    background: #00AB44;
    mix-blend-mode: normal;
    border: 2px solid #00AB44;
    border-radius: 2px;
    padding: 1rem 1.4rem;
}

.post-cta button a {
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: none;
}

.post-cta button:hover {
    border: 2px solid #00CB51;
}

.post-cta button:active {
    background: #00CB51;
    border: 2px solid #00CB51;
}