@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,600&display=swap');


body {
    font-family: "IBM Plex Sans",Inter UI,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

header.header {
    background: #020910;
    height: 86px;
    padding: 0;
}

header.hero-overlay {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 86px;
    z-index: 999;
    background: #020910;
}

header.hero {
    height: 400px;
}

.header__inner {
    width: 100%;
    padding: 0 2rem;
    justify-content: flex-start;
    /* height: 40vh; */
}

.logo .logo-icon {
    max-height: 1.75rem;
    margin-right: 15px;
}

.logo .logo-text {
    height: 13px;
}

.header__right {
    margin-left: auto;
}

.menu {
    margin-right: 0;
    padding-right: 0;
}

.menu__inner li:not(:first-of-type) {
    margin-left: 2rem;
}

.menu__inner li a {
    color: #AEB3B7;
    font-weight: 400;
}

.menu__inner li:last-of-type a {
    color: white;
    background: #00AB44;
    mix-blend-mode: normal;
    border: 2px solid #00AB44;
    border-radius: 2px;
    padding: 0.6rem 1rem;
}

.menu__inner li:last-of-type:hover a {
    color: white;
    border: 2px solid #00CB51;
}

.menu__inner li a:hover {
    color: #00CB51;
}

.post {
    border-bottom: none !important;
}

.pagination__title hr {
    display: none;
}

.footer__inner {
    justify-content: center !important;
}

.post-title {
    font-size: 2rem;
}

.post-content img {
    display: block;
    margin: 0 auto 2rem;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.post-content figure {
    margin-bottom: 2rem;
}

.post-content figure img {
    margin: 0 auto;
}

/*  Fix to show badges embedded into the middle of a paragraph display as 
    inline instead of on their own line */
.post-content p img[src*="shields.io"] {
    position: relative;
    display: inline-block;
    top: 4px;
    margin: 0;
    box-shadow: none;
}

.post-cta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.post-cta button {
    background: #00AB44;
    mix-blend-mode: normal;
    border: 2px solid #00AB44;
    border-radius: 2px;
    padding: 1rem 1.4rem;
}

.post-cta button a {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
}

.post-cta button:hover {
    border: 2px solid #00CB51;
}

.post-cta button:active {
    background: #00CB51;
    border: 2px solid #00CB51;
}

.button.next,
.button.previous {
    border-radius: 2px;
    padding: 1rem 1.4rem;
    border: 1px solid #00AB44;
    background: white;
}

.button.next:hover,
.button.previous:hover {
    border: 1px solid #00CB51;
    color: #00CB51;
}

.button.next:active,
.button.previous:active {
    background: #00CB51;
    color: white;
}

.button.next a,
.button.previous a{
    padding: 0;
}