.logo .logo-svg-netdata {
    fill: var(--light-color);
}

body.dark-theme .logo .logo-svg-netdata {
    fill: var(--dark-color);
}

/* header.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
} */

header.header {
    background: url(img/blog-header-bg.png);
    background-position: center center;
    background-size: cover;
}

header.hero-overlay {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 400px;
    z-index: 999;
    background: url(img/blog-header-bg.png);
    background-position: center center;
    background-size: cover;
}

header.hero {
    height: 400px;
}

.header__inner {
    justify-content: center;
    /* height: 40vh; */
}

.post {
    border-bottom: none !important;
}

.pagination__title hr {
    display: none;
}

.footer__inner {
    justify-content: center !important;
}
